<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product.brand }} {{ product.model}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-img [src]="product.image_url" width="500"></ion-img>

          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-text color="primary">
                <h2 style="font-weight: bold">
                  {{ product.brand }} {{ product.model}}
                </h2>
              </ion-text>
              <p>Rp. {{ product.price | number}}</p>
              <p>Stok: {{ product.stock }}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <p color="black">Product Description</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <ion-row *ngIf="product.brand != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text><p style="font-weight: bold">Brand</p></ion-text>
                </ion-col>
                <ion-col>
                  <ion-text><p>{{product.brand}}</p></ion-text>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="product.model != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text><p style="font-weight: bold">Model</p></ion-text>
                </ion-col>
                <ion-col>
                  <ion-text><p>{{product.model}}</p></ion-text>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="product.description.base_clock != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text
                    ><p style="font-weight: bold">Base Clock</p></ion-text
                  >
                </ion-col>
                <ion-col>
                  <ion-text
                    ><p>{{product.description.base_clock}} GHz</p></ion-text
                  >
                </ion-col>
              </ion-row>

              <ion-row *ngIf="product.description.boost_clock != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text
                    ><p style="font-weight: bold">Boost Clock</p></ion-text
                  >
                </ion-col>
                <ion-col>
                  <ion-text
                    ><p>{{product.description.boost_clock}} GHz</p></ion-text
                  >
                </ion-col>
              </ion-row>

              <ion-row *ngIf="product.description.core != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text><p style="font-weight: bold">Core</p></ion-text>
                </ion-col>
                <ion-col>
                  <ion-text><p>{{product.description.core}}</p></ion-text>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="product.description.thread != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text><p style="font-weight: bold">Thread</p></ion-text>
                </ion-col>
                <ion-col>
                  <ion-text><p>{{product.description.thread}}</p></ion-text>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="product.description.speed != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text><p style="font-weight: bold">Speed</p></ion-text>
                </ion-col>
                <ion-col>
                  <ion-text><p>{{product.description.speed}}</p></ion-text>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="product.description.size != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text><p style="font-weight: bold">Size</p></ion-text>
                </ion-col>
                <ion-col>
                  <ion-text><p>{{product.description.size}}</p></ion-text>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="product.description.chipset != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text><p style="font-weight: bold">Chipset</p></ion-text>
                </ion-col>
                <ion-col>
                  <ion-text><p>{{product.description.chipset}}</p></ion-text>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="product.description.compatibility != null">
                <ion-col size="4" style="padding-left: 0px">
                  <ion-text
                    ><p style="font-weight: bold">Compatibility</p></ion-text
                  >
                </ion-col>
                <ion-col>
                  <ion-text
                    ><p>{{product.description.compatibility}}</p></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
