<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="changeView()">
        <ion-icon name="grid" *ngIf="viewList"></ion-icon>
        <ion-icon name="list" *ngIf="!viewList"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button menu="shopMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="viewList">
      <ion-col>
        <ion-list>
          <ion-item
            *ngFor="let product of products"
            [routerLink]="['product-detail/',product.id]"
          >
            <ion-thumbnail slot="start">
              <img [src]="product.image_url" />
            </ion-thumbnail>
            <ion-label>
              <h2>{{product.name}}</h2>
              <p>Rp. {{ product.price | number}}</p>
              <p>Tersedia: {{ product.stock }}</p>
            </ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!viewList">
      <ion-col size="6" *ngFor="let product of products">
        <ion-card [routerLink]="['product-detail/',product.id]">
          <img [src]="product.image_url" />
          <ion-card-header>
            <ion-card-title>{{ product.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Rp. {{ product.price | number }}
            <br />
            Tersedia: {{ product.stock | number }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
